/*.grid_blocks {
    display: inline-block;
}
.row {
    display: flex;
}*/
.GridContainer div{
    overflow: auto;
    height: 20rem;
}
.lv_table {
    overflow: scroll;
}

.btn-round {
    border-radius: 50%;
    padding: 1.5rem;
    width: 100%;
}

.img-cover {
    object-fit: cover;
    height: 12rem;
}
.img-cover-small {
    object-fit: cover;
    height: 8rem;
}

.text-main {
    color: rgba(5, 193, 175, 0.94);
}

.card-responsive-text {
    white-space: nowrap;
}

